@mixin centerBlock($top, $bott) {
  display: block;
  margin: $top auto $bott auto;
}

@mixin flex($dir, $jus, $ali, $gap) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: $dir;
  flex-direction: $dir;
  -webkit-box-pack: $jus;
  -ms-flex-pack: $jus;
  justify-content: $jus;
  -webkit-box-align: $ali;
  -ms-flex-align: $ali;
  align-items: $ali;
  gap: $gap;
}

@mixin grid($row, $col, $gap) {
  display: grid;
  grid-template-rows: $row;
  grid-template-columns: $col;
  gap: $gap;
}

@mixin positionTR($top, $right, $x, $y) {
  position: absolute;
  top: $top;
  right: $right;
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin positionTL($top, $left, $x, $y) {
  position: absolute;
  top: $top;
  left: $left;
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin positionBR($bott, $right, $x, $y) {
  position: absolute;
  bottom: $bott;
  right: $right;
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin positionBL($bott, $left, $x, $y) {
  position: absolute;
  bottom: $bott;
  left: $left;
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}
