// COLORS

// ### Primary

$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);
$Soft-red-darker: hsl(345, 95%, 68%);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Dark-unsaturated-blue: hsl(236, 21%, 26%);
$Dark-unsaturated-blue-lighter: rgb(44, 44, 68);
$Very-dark-blue: hsl(235, 16%, 14%);
$Very-dark-black-blue: hsl(234, 17%, 12%);
$shadow-color: hsl(240, 16%, 12%);

// SIZES
$box-size: 14rem;
$gap-size: 2.5rem;
